/*Block 1 start*/
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.block_1 {
    background-color: #1F2937;
    color: white;
    justify-content: center;
}
.header_logo {
    font-size: 24px;
    font-weight: bold;
}
.header_link {
    font-size: 18px;
    color: #e5e7ebd3;
}
.block_1.container_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 100px;
}
.block_1.container_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.header_link_container {
    display: flex;
    gap: 18px;
}
a {
    text-decoration: none;
    color: white;
}
.main_header {
    font-size: 48px;
    font-weight: bold;
}
.block_1_button {
    background-color: #3882F6;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 16px;
    border-radius: 8px;
    font-weight: bold;
    max-width: 100px;
    cursor: pointer;
}
.block_1_img {
    width: 500px;
    height: 250px;
}
.block_1_sub_container {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 8px;
    flex-shrink: 0;
}
/*Block 1 end*/


/*Block 2 start*/
.block_2_img {
    width: 200px;
    height: 200px;
}
.block_2_container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 75px;
}
.block_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block_2_sub_container {
    display: flex;
    flex-flow: column wrap;
    width: 150px;
    text-align: center;
    gap: 8px;
}
.block_2_header {
    font-size: 36px;
    font-weight: 900;
    padding: 32px;
}
/*Block 2 end*/


/*Block 3 start*/
.block_3 {
    background-color: #e5e7eB;
}
/*Block 3 end*/