/*Block 1 start*/
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.block_1 {
    background-color: #1F2937;
    color: white;
    justify-content: center;
}
.header_logo {
    font-size: 24px;
    font-weight: 915;
}
.header_link {
    font-size: 18px;
    color: #d8dbe0;
}
.block_1.container_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 100px;
}
.block_1.container_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.header_link_container {
    display: flex;
    gap: 18px;
}
a {
    text-decoration: none;
    color: #d8dbe0;
}
.main_header {
    font-size: 48px;
    font-weight: 925;
    color: #d8dbe0;
}
.block_1_button {
    background-color: #3882F6;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 32px;
    border-radius: 8px;
    max-width: 125px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.block_1_img {
    width: 600px;
    height: 300px;
}
.block_1_sub_container {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 8px;
    flex-shrink: 0;
}
/*Block 1 end*/


/*Block 2 start*/
.block_2_img {
    width: 225px;
    height: 225px;
    border-radius: 16px;
}
.block_2_container {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-bottom: 100px;
}
.block_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block_2_sub_container {
    display: flex;
    flex-flow: column wrap;
    width: 150px;
    text-align: center;
    gap: 8px;
    color: #505050;
}
.block_2_header {
    font-size: 40px;
    font-weight: 950;
    padding: 64px;
}
/*Block 2 end*/


/*Block 3 start*/
.block_3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eB;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
}
.block_3 .quote {
    font-size: 42px;
    font-style: italic;
    width: 1000px;
    margin-bottom: 16px;
    color: #505050;
}
.block_3 .quote_author {
    display: flex;
    font-size: 28px;
    width: 1000px;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 50px;
}
/*Block 3 end*/


/*Block 4 start*/
.block_4_button {
    background-color: #3882F6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 110px 5px 32px;
    border-radius: 8px;
    font-weight: bold;
    max-width: 0px;
    cursor: pointer;
    border: 2px solid white;
    margin-left: 200px;
    font-size: 22px;
    white-space: nowrap;
}
.block_4 {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    width: 1250px;
    height: 175px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.block_4_container .header {
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;
}
.block_4_container .text {
    font-size: 22px;
    white-space: nowrap;
}
/*Block 4 end*/


.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}